<div class="notification-container urgency{{notification.urgency}}" id="notification{{notification.id}}">
    <div class="content-block">
        <h6 class="notification-title">{{notification.title}}</h6>
        <i class="fa fa-close notification-close" aria-hidden="true" (click)="remove()"></i>
    </div>
    <div class="content-block">
        <p class="notification-body">{{notification.body}}</p>
        <a class="notification-link" routerLink="{{notification.linkToUrl}}" *ngIf="notification.linkToUrl" (click)="popover.close()">Show me</a>
    </div>
</div>