<div class="navbar bg-dark">


    <div id="title">
        <img src="../../assets/images/leaf.png">
        <h1 class="font-italic font-weight-light">Leave-It</h1>
    </div>

    <nav>
        <!-- <a routerLink="/pictureviewer" routerLinkActive="active-link">Picture viewer</a> -->
        <!-- <a routerLink="/test" routerLinkActive="active-link">Debug test</a> -->
        <a routerLink="/home" routerLinkActive="active-link">Home</a>
        <a routerLink="/options" routerLinkActive="active-link">Preferences</a>
        <a routerLink="/profile" routerLinkActive="active-link">Profile</a>
        <a class="notification-icon">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <span class="circle">
                <i>4</i>
            </span>
        </a>
    </nav>

</div>