.picture-container {
    padding: 12px;

    span {
        position: fixed;
        padding: 4px;
        margin-top: -18px;
        color: white;
        font-size: 17px;
        width: 200px;

        text-align: center;

    }
    img {
        padding-top: 18px;
    }
}