<div class="modal-container">

    <div class="modal-body">
        <!-- <img src="data:image/png;base64,{{picture.content}}" class="rounded" *ngFor="let picture of pictures"> -->
        <vertical-timeline>

            <vertical-timeline-card *ngFor="let picture of pictures" [dateValue]="picture.timeStamp" [timeString]="getTimeString(picture.timeStamp)">
                <img src="data:image/png;base64,{{picture.content}}" class="rounded" width="220px">
            </vertical-timeline-card>


        </vertical-timeline>
    </div>



</div>