<div class="labfarm-header col-md-8 offset-2">
    <h3>Lab Farm #{{labFarm.LabFarmId}}</h3>
    <a class="updated small italic text-right font-italic font-weight-light">Updated: {{humiditySensor.Timestamp}}</a>
</div>
<div class="container labfarm-container col-md-10 offset-1">

    <div class="labfarm-body col-md-8">
        <app-sensor-graph SensorId="{{humiditySensor.SensorId}}"></app-sensor-graph>
        <app-sensor-graph SensorId="{{dustSensor.SensorId}}"></app-sensor-graph>
        <app-sensor-graph SensorId="{{lightSensor.SensorId}}"></app-sensor-graph>
        <app-sensor-graph SensorId="{{conductivitySensor.SensorId}}"></app-sensor-graph>
        <app-sensor-graph SensorId="{{waterSensor.SensorId}}"></app-sensor-graph>
        <div><img src="https://via.placeholder.com/300x150" class="bg-light"></div>
    </div>
    <div class="labfarm-options col-md-3">
        <div class="card">
            <div class="card-header bg-dark text-light">Lab farm options</div>
            <div class="card-body">
                <div class="lf-options">
                    <ui-switch [(ngModel)]="autoMode" (change)="autoModeChanged()"></ui-switch>
                    <a>Auto-mode</a>
                </div>
                <div class="lf-options">
                    <mat-slider [min]="0" [max]="255" [step]="5" [(ngModel)]="conductivityLevel" [disabled]="conductivityDisabled"
                        [thumbLabel]="true" [tickInterval]="5"></mat-slider>
                    <a>{{conductivityLevel}} Conductivity</a>
                </div>
                <div class="lf-options">
                    <mat-slider [min]="0" [max]="255" [step]="5" [(ngModel)]="lightLevel" [disabled]="lightDisabled"
                        [thumbLabel]="true" [tickInterval]="5"></mat-slider>
                    <a>{{lightLevel}} Light level</a>
                </div>
                <div class="lf-options">
                    <a class="updated small italic text-right font-italic font-weight-light">Updated:
                        {{humiditySensor.Timestamp}}</a>
                    <button type="button" class="btn bg-dark text-light">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>