
@media only screen and (min-width: 1500px){
    .labfarm-container, .labfarm-header {
        padding-left: 10%;
        padding-right: 10%;
    }
}
.labfarm-container, .labfarm-header {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

.labfarm-header {
    display: block;
    // align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.labfarm-header a {
    margin-top: 2px;
}

.labfarm-body {
    display: flex;
    flex-wrap: wrap;
}
.labfarm-body > * {
    max-width: 500px;
}

.labfarm-body app-sensor-graph, .camera-sensor {
    margin-top: 24px;
    padding-right: 48px;
}
.camera-sensor {
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;

    width: 424px;
    height: 224px;

    text-align: center;
}
.labfarm-options-container {
    min-width: 300px;
}

.lf-options {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    margin-bottom: 10px;
}


// app-sensor-graph {
//     padding-top: 24px;
//     padding-right: 48px;
// }

mat-slider {
    max-width: 200px;
}