

.labfarm-container {
    display: inline-flex;
}

.labfarm-header {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    margin-top: 60px;
}
.labfarm-header a {
    margin-top: 2px;
}

.labfarm-body {
    display: flex;
    flex-wrap: wrap;
}
.labfarm-body * {
    padding-top: 24px;
    padding-right: 48px;
}
.labfarm-body img {
    padding: 12px;
    border-radius: 8px;
}
.lf-options {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    margin-bottom: 10px;
}


// app-sensor-graph {
//     padding-top: 24px;
//     padding-right: 48px;
// }

mat-slider {
    max-width: 200px;
}