/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~angular-vertical-timeline/dist/vertical-timeline.css";

@import "~ng-pick-datetime/assets/style/picker.min.css";


.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
    background-color: #45C48B !important;
}

.checked {
    background-color: #45C48B !important;
}

.tooltip-inner { 
    background: #464545;
    border-radius: 3px;
}

/* Timeline */
.timeline-img {
    // background: #343a40 !important;
    background: #f8f9fa !important;
    // margin-top: 70px !important;
    p {
        color: #343a40 !important;
    }
}
.timeline-content .date {
    background: none !important;

    p {
        text-align: center !important;
        color: #343a40 !important;
        padding: 6px 20px;
    }
}
.timeline::before {
    border: 1px dashed #C5CAE9;
    border-width: 0 0 0 1px !important;
    width: 0px !important;
    background: none !important;
}

.modal-dialog.modal-lg {
    max-width: 80% !important;
}

.modal-dialog.modal-sm {
    max-width: 400px !important;
}

.modal-content {
    background: none;
}

.winkel-calendar {
    display: inline-block;

    margin: 0 10px -10px 10px;
}
.wc-date-container {
    width: 250px !important;
    padding-left: 10px !important;
    i {
        padding: 0 6px 0 8px;
    }
}


.notification-popover {
    top: 57px !important;
    left: unset !important;
    right: 10% !important;
    width: 400px !important;
    max-width: 400px !important;

    -webkit-box-shadow: 7px 6px 31px -12px rgba(0,0,0,0.76);
    -moz-box-shadow: 7px 6px 31px -12px rgba(0,0,0,0.76);
    box-shadow: 7px 6px 31px -12px rgba(0,0,0,0.76);
    .arrow {
        left: unset !important;
        right: calc(10% - 7px);
    }
    .popover-header {
        color: #343a40;
        padding: 0.75rem !important;
        text-align: center;
    }
}