<!-- *ngIf="userLabFarms" -->
<div class="labfarm-container">
    <app-lab-farm-overview *ngFor="let labfarm of userLabFarms" [labFarm]="labfarm">

    </app-lab-farm-overview>
    <div class="new-lab-container">
        <p>Got a <strong>new</strong> lab farm delivered to your home?<br><strong>Click</strong> the button on the <strong>right</strong> to start</p>
        <button class="btn bg-dark text-light" routerLink="/new">Start</button>
    </div>
</div>
<app-loading *ngIf="!userLabFarms">

</app-loading>
<app-error *ngIf="serverError">

</app-error>