<span class="labfarm-label bg-dark text-light" *ngIf="labFarm">Lab Farm #{{labFarm.LabFarmId}}</span>
<div class="labfarm-overview bg-dark text-light" *ngIf="labFarm">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <ul class="list-group">
                        <li class="d-flex justify-content-between align-items-center">{{humiditySensor.SensorType.TypeName}}
                            <span class="badge badge-primary badge-pill">{{humiditySensor.SensorValue}}%</span></li>
                        <li class="d-flex justify-content-between align-items-center">{{dustSensor.SensorType.TypeName}}
                            <span class="badge badge-primary badge-pill">{{dustSensor.SensorValue}}%</span></li>
                        <li class="d-flex justify-content-between align-items-center">{{lightSensor.SensorType.TypeName}}
                            <span class="badge badge-primary badge-pill">{{lightSensor.SensorValue}} lux</span></li>
                    </ul>

                </td>
                <td>
                    <ul class="list-group">
                        <li class="d-flex justify-content-between align-items-center">{{conductivitySensor.SensorType.TypeName}}
                            <span class="badge badge-primary badge-pill">{{conductivitySensor.SensorValue}}%</span></li>
                        <li class="d-flex justify-content-between align-items-center">{{waterSensor.SensorType.TypeName}}
                            <span class="badge badge-primary badge-pill">{{waterSensor.SensorValue}}l</span></li>
                    </ul>
                </td>
                <td>
                    <ul class="list-group">
                        <button type="button" routerLink="/farm/{{labFarm.LabFarmId}}" class="btn btn-outline-light btn-sm">Go to farm</button>
                        <br>
                        <br>
                        <span class="updated small italic text-right font-italic font-weight-light">{{humiditySensor.Timestamp}}</span>
                    </ul>
                </td>
                <td>
                    <div>
                        <img src="https://via.placeholder.com/200x200" class="rounded">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>