.navbar {
    background: #45C48B;
    color: #e7e7e7;
}
.navbar h1 {
    margin-left: 10%;
}
.navbar nav {
    float: left;
}
.navbar nav a { 
    padding: 14px 24px;
    color: #e7e7e7;
    border-radius: 5px;
}
.navbar nav a:hover {
    text-decoration: none;
    background: rgb(67, 190, 135);
    /* opacity: 0.75 */
}
.active-link {
    background: rgb(63, 180, 128);
}