<div class="labfarm-header col-md-8 offset-2">
        <h3>Lab Farm #123</h3>
        <a class="updated small italic text-right font-italic font-weight-light">Updated: 12/10/18 15:59:22</a>
    </div>
<div class="container labfarm-container col-md-10 offset-2">
 
    <div class="labfarm-body col-md-6">
        <app-sensor-graph [SensorId]="1"></app-sensor-graph>
        <app-sensor-graph [SensorId]="2"></app-sensor-graph>
        <app-sensor-graph [SensorId]="3"></app-sensor-graph>
        <app-sensor-graph [SensorId]="4"></app-sensor-graph>
        <app-sensor-graph [SensorId]="5"></app-sensor-graph>
    </div>
    <div class="labfarm-options col-md-3">
        <div class="card">
            <div class="card-header bg-dark text-light">Lab farm options</div>
            <div class="card-body">Test</div>
        </div>
    </div>
</div>