.labfarm-label {
    position: fixed;
    margin-top: -23px;
    margin-left: 0px;
    background: rgb(72, 207, 147);
    color: white;
    padding: 3px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.labfarm-overview {
    margin-bottom: 60px;
    display: block;
    min-width: 650px;
    height: 120px;
    background: rgb(72, 207, 147);
    border-radius: 8px;
    color: white;
}
.labfarm-overview ul{
    
}
.rounded {
    height: 100px;
}
